
.body {
}

.mid {
    text-align: center;
}

.leftSidebar {
    width: 200px;
    text-align: left;
    display: inline-block;
}

.top {
    font-size: 50px;
    font-family: "Segoe UI";
    font-weight: bold;
}

.postList {
    width: 700px;
    text-align: left;
    display: inline-block;
}

.rightSidebar {
    width: 200px;
    text-align: left;
    display: inline-block;
}

.post {
}

.postHeading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-variant: small-caps;
    font-size: 20px;
    margin-top: 50px;
}

.postName {
    text-decoration: underline;
}

.postDate {
    font-family: "Courier New";
    font-size: 15px;
}
