body, h1, h2, h3, h4, p, blockquote, code, ul, ol, dl, dd, img {
  margin: 0; 
}

body {
  line-height: 24px;
  color: #111;
  font: normal 18px/30px "Merriweather", Georgia, serif;
  background: #cccccc;
}

.page {
  background: #fbfaf8;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 50px #444 
}

.content {
  padding: 0 40px 2px 40px;
  background: white;
  padding-bottom: 200px;
  box-shadow: 0 0 30px rgba(71, 51, 31, 0.05); 
}

h1 {
  font: 200 45px Georgia, serif;
  padding: 100px 0 50px 0;
  border-bottom: solid 1px #eeeeee; 
}

h2 {
  color: #1481b8;
  font: 300 35px "Source Sans Pro", Georgia, serif;
  margin: 20px 0 15px -38px;
  padding: 0 0 2px 30px;
  border-left: solid 8px #d9eaf2; 
}

h3 {
  color: #1481b8;
  font: 400 20px "Source Sans Pro", Georgia, serif;
  margin: 20px 0 0 -38px;
  padding-left: 30px;
  border-left: solid 8px #d9eaf2; 
}

p {
  margin: 30px 0; 
}

a {
  color: #1481b8;
  text-decoration: none;
  outline: none;
  border-bottom: solid 1px rgba(209, 236, 250, 0);
  transition: color 0.2s ease, border-color 0.2s ease; 
}

img {
  max-width: 100%;
  border: solid 1px #f6f4ee;
  border-radius: 7px; 
  display: block;
  margin: auto;
}

video {
  width: 600px;
  border-radius: 7px; 
  margin: 0 auto;
  display: block;
}

code {
  font: normal 15px "Source Code Pro", Menlo, Consolas, Monaco, monospace;
}



aside {
  color: #868279;
  padding: 10px 10px;
  background: #faf8f5;
  border: solid 1px #f7f4ed;
  border-bottom: solid 1px #f0e9db;
  border-radius: 3px; 
  line-height: 20px;
  font-size: 15px;
}
aside > p:first-child {
  margin-top: 0; }
aside > p:last-child {
  margin-bottom: 0; 
}

aside + aside {
  margin-top: 10px; 
}

a:hover {
  border-bottom: solid 1px #d1ecfa; 
}

@media only screen and (min-width: 800px) {
  .page {
    padding-right: 300px; 
  }

  aside {
    position: absolute;
    width: 240px;
    right: 30px;
    padding: 0;
    background: none;
    border: none;
    padding-left: 22px;
    border-radius: 0;
    border-left: solid 8px #f0e9db; 
  }
  aside p, aside li {
    font: 14px/20px "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif; 
  }   
}