.heroSelector {
    width: 220px;
}

.defenseHeroesSelection {
    display: flex;
    flex-direction: row;
}

.portrait {
    width:  60px;
}
.bodyClass {
  height:500px;
  padding-left: 10px;

  font-family: Arial, Helvetica, sans-serif;
  background-color: #212529;
  color: #e2e2e2;
}

.hSpace {
    height: 10px;
}

.vSpace {
    width:  5px;
}

.results {
    display: flex;
    justify-content: right; /* align horizontal */
    align-items: center; /* align vertical */
    padding-right: 10px;
    width: 90px;
    font-size: 30px;
}

.metaResults {
    display: flex;
    justify-content: right; /* align horizontal */
    align-items: center; /* align vertical */
    min-width: 90px;
    font-size: 30px;
}


.metaResultsPercent {
    display: flex;
    justify-content: right; /* align horizontal */
    align-items: center; /* align vertical */
    min-width: 130px;
    font-size: 30px;
}

.ctrlFText {
    display: flex;
    align-items: center; /* align vertical */
    color: rgba(0, 0, 0, 0.00);
}

.intersText {
    display: flex;
    align-items: center; /* align vertical */
    color: darkorange;
    padding-left: 10px;
    font-size: 20px;
}

.W {
    color: #1cbf1c;
}
.L {
    color: red;
    width: 60px;
}
.D {
    color: brown;
    width: 60px;
}

.resultRow {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    white-space: nowrap;
}

.imageRow {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.defenseIcons {
    display: flex;sir
    flex-direction: row;
}

.atkImg {
    width: 40px;
    height: 40px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.metaAtkImg {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.fightIcons {
    display: flex;
    flex-direction: row;
    min-width: 440px;
}

.metaFightIcons {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    padding-left: 5px;
}

.metaFightIconsOffense {
    display: flex;
    flex-direction: row;
    min-width: 80px;
    padding-left: 5px;
}

.metaFightIcons:hover {
    border: 0px solid;
    border-radius: 15px;
    background-color: #454545;
}

.resultsContainer {
    display: flex;
    flex-direction: row;
    /*min-width: 250px;*/
    font-size: 30px;
    align-items: center;
    white-space: nowrap;
}

.select2-results__option {
    color: black;
}

.heroSearchIcon {
    width: 30px;
    vertical-align: middle;
    padding-right: 8px;
}

.select2-results {
    min-height: 350px;
}

.select2-container--classic .select2-results > .select2-results__options {
    min-height: 350px;
}

.select2-results__option {
    height: 25px;
}

.searchRowContainer {
  text-overflow: ellipsis;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
}

.intro {
    max-width: 800px;
}

#homeLink {
    display: inline-block;
}

.coffeeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
}
.coffeeContainerImage {
    height: 32px;
    cursor: pointer;
}