.heroSelector {
    width: 200px;
}

.defenseHeroesSelection {
    display: flex;
    flex-direction: row;
}

.portrait {
    width:  60px;
}
.bodyClass{
  height:500px;
  padding-left: 10px;

  font-family: Arial, Helvetica, sans-serif;
}

.hSpace {
    height: 10px;
}

.vSpace {
    width:  5px;
}