.heroSelector {
    width: 220px;
}

.defenseHeroesSelection {
    display: flex;
    flex-direction: row;
}

.portrait {
    width:  60px;
}
.bodyClass {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212529;
  color: #e2e2e2;

  padding: 0.5rem 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 1rem);
  margin: 0;
}

.hSpace {
    height: 10px;
}

.vSpace {
    width:  5px;
}

.results {
    display: flex;
    justify-content: right; /* align horizontal */
    align-items: center; /* align vertical */
    padding-right: 10px;
    width: 110px;
    font-size: 30px;
}

.metaResults {
    display: flex;
    justify-content: right; /* align horizontal */
    align-items: center; /* align vertical */
    min-width: 90px;
    font-size: 30px;
}


.metaResultsPercent {
    display: flex;
    justify-content: right; /* align horizontal */
    align-items: center; /* align vertical */
    min-width: 130px;
    font-size: 30px;
}

.ctrlFText {
    display: flex;
    align-items: center; /* align vertical */
    color: rgba(0, 0, 0, 0.00);
}

.intersText {
    display: flex;
    align-items: center; /* align vertical */
    color: darkorange;
    padding-left: 10px;
    font-size: 20px;
}

.W {
    color: #1cbf1c;
    width: 80px;
}
.L {
    color: red;
    width: 80px;
}
.D {
    color: brown;
    width: 60px;
}

.resultRow {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    white-space: nowrap;
}

.imageRow {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.defenseIcons {
    display: flex;
    flex-direction: row;
}

.atkImg {
    width: 40px;
    height: 40px;
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.metaAtkImg {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    padding-right: 5px;
}

.fightIcons {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    padding-right: 20px;
}

.metaFightIcons {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    padding-left: 5px;
}

.metaFightLookup {
    display: flex;
    flex-direction: row;
    min-width: 200px;
    padding-left: 5px;
}

.metaFightIconsOffense {
    display: flex;
    flex-direction: row;
    min-width: 80px;
    padding-left: 5px;
}

.metaFightIcons:hover {
    border: 0px solid;
    border-radius: 15px;
    background-color: #454545;
}

.resultsContainer {
    display: flex;
    flex-direction: row;
    /*min-width: 250px;*/
    font-size: 30px;
    align-items: center;
    white-space: nowrap;
}

.select2-results__option {
    color: black;
}

.heroSearchIcon {
    width: 30px;
    vertical-align: middle;
    padding-right: 8px;
}

.select2-results {
    min-height: 350px;
}

.select2-container--classic .select2-results > .select2-results__options {
    min-height: 350px;
}

.select2-results__option {
    height: 25px;
}

.searchRowContainer {
  text-overflow: ellipsis;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
}

.intro {
    max-width: 820px;
}

#homeLink {
    display: inline-block;
}

.coffeeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
}
.coffeeContainerImage {
    height: 32px;
    cursor: pointer;
}

.ag-floating-top {
  border-bottom: solid #828282 2px !important
}

.ag-watermark {
  display:none !important;
}
.ag-theme-balham .ag-theme-balham-dark .ag-row:not(.ag-row-first) {
  border: none;
}
.ag-theme-balham .ag-theme-balham-dark .ag-row-odd {
  background-color: #f7f7f7
}

.ag-theme-balham .ag-theme-balham-dark .ag-row-hover {
  background-color: #daf1ff
}
.ag-theme-balham .ag-theme-balham-dark .ag-row-selected {
  background-color: #b7e4ff
}

.ag-body-horizontal-scroll {
  min-height: 5px !important;
  max-height: 5px !important;
  height: 5px !important;
}
.ag-body-horizontal-scroll-viewport {
  min-height: 5px !important;
  max-height: 5px !important;
  height: 5px !important;
}
.ag-body-horizontal-scroll-container {
  min-height: 5px !important;
  max-height: 5px !important;
  height: 5px !important;
}
.ag-cell {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.ag-theme-balham .ag-theme-balham-dark .ag-header-cell, .ag-theme-balham .ag-header-group-cell {
  padding-left: 2px;
  padding-right: 2px;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.ag-header-cell:after {
  top: 5% !important;
}

.ag-header-cell-label {
    align-items: baseline !important;
}

.ag-icon {
    line-height: 14px !important;
    font-weight: 400 !important;
}

.ag-header-row .ag-header-row-column {
    height: 24px !important;
}

.ag-header {
      height: 24px !important;
    min-height: 24px !important;
}

.ag-theme-balham .ag-theme-balham-dark .ag-paging-panel {
  height: 24px !important;
}

.ag-header-label-icon {
  margin-left: -3px !important;
}
.ag-paging-button {
  opacity: 1 !important;
  position: unset !important;
}
.ag-header-cell-text {
  overflow: initial;
  text-overflow: initial;
  min-width: unset !important;
}
.ag-header-cell-label, .ag-header-group-cell-label {
  justify-content: space-around;
  text-overflow: clip;
}
.ag-theme-balham .ag-theme-balham-dark .ag-icon {
  font-size: 14px;
  font-weight: 800;
}
.ag-cell-value {
  font-weight: 400;
  text-align: center;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ag-theme-balham .ag-overlay-loading-wrapper {
  background-color: var(--ag-modal-overlay-background-color,hsla(0,0%,100%,.05));
}

.ag-icon-menu {
    display: none;
}

.ag-sort-indicator-icon {
    display: none;
}

.ag-header-cell-comp-wrapper {
    width: 120% !important;
    outline: none;
}

.optimizerSetIcon {
  height: 29px;
  vertical-align: middle;
}

.heroBannerSetIcon {
  height: 39px;
  vertical-align: middle;
}

#buildsSearchButton {
    width: 5.625rem;
    height: 28px; /* Using px here to match the rule in select2.min.css */
    cursor: pointer;
    font-weight: bold;
}

.heroBanner {
    object-fit: contain;
    object-position: 0px;
    height: 100%;
}
.heroBannerContainer {
    height: 17.5rem;
    width: 420px;
    min-width: 420px;
    overflow: clip;
}
.heroArtifact {
    position: relative;
    height: 80px;
    width: 72.5px;
    left: -81px;
    top: 14px;
    margin-bottom: 14px;
    margin-right: -81px;
    opacity: 0;
}

.statPreviewContainer {
  display:flex;
  flex-direction: column;
  margin-left: 30px;
  padding-right: 0.5rem;
}
.statPreviewRow {
  height: 25px;
  font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 2px;
  display: inherit;
}
#setBefore {
  padding-top: 2px;
}
.statPreviewImg {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.selectedBuild {
    display: flex;
    flex-direction: row;
}

.statPreviewBefore {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 45px;
  margin: auto;
  margin-left: 5px;

}
.setWrapper {
    position: relative;
    left: -45px;
    top: 102px;
}
#setBefore {
    display: flex;
    flex-direction: row;
    align-content: space-between;

    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.ag-header-cell-text {
    margin-left: auto;
    margin-right: auto;
}
.ag-header-cell {
    padding-left: 0px;
    padding-right: 0px;
}
.infoBanner {
    display: flex;
    flex-direction: row;
    width: 77rem;
}
.setComboRow {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
}
.setComboRow.active, .artifactComboRow.active, .gsRow.active {
    border: 0px solid;
    border-radius: 5px;
    background-color: rgba(30, 144, 255, 0.5);
}
.setComboRow:hover,.artifactComboRow:hover, .gsRow:hover {
    border: 0px solid;
    border-radius: 5px;
    background-color: #454545;
}
.setCombos, .artifactCombos, .gsStats {
  display: none;
}
.gutterTop {
  margin-top: 1.23rem;
}
.setCombos {
    padding: 0 2.5rem;
}
.artifactCombos {
    padding: 0 0.625rem;
}
.gsStats {
    margin-left: 0.75rem;
}
.setComboRowImages {
    width: 100px;
    display: flex;
    flex-direction: row;
}
.setComboRowText {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
}
.artifactComboRow, .gsRow {
    display: flex;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;
}
.setArtifactRowLeft {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    flex-direction: row;
    display: flex;
    width: 70px;
    justify-content: end;
}
.setArtifactRowRight, .gsRowRight {
    margin-top: auto;
    margin-bottom: auto;
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.gsRowRight {
  width: 4.3rem;
}
#myGrid {
  height: 37rem;
  width: 77rem;
  margin-bottom: 2.875rem;
}
.setCombos, .statPreviewContainer, .artifactCombos {
  border-right: 1px solid rgba(66, 66, 66, 0.5);
}
#avgText {
  display: none;
  text-align: center;
  margin-top: 1px;
}